.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/org.owl
src/ontology/org.obo
src/ontology/org.json
src/ontology/org-base.*
src/ontology/org-basic.*
src/ontology/org-full.*
src/ontology/org-simple.*
src/ontology/org-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl